 
# .NET Core
bin/
obj/
*.csproj.user
*.sln
*.suo
*.cache
*.user
*.userosscache
*.suo
*.sln.docstates

# Visual Studio
.vs/
*.vsconfig
*.code-workspace

# Rider
.idea/

# User-specific files
*.log
*.tmp
*.temp
*.bak

# NuGet Packages
*.nupkg
packages/

# Environment-specific settings
appsettings.*.json